<div
  id="success"
  tabindex="-1"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative w-full max-w-lg max-h-full">
    <div
      class="relative bg-white rounded-lg shadow bg-gradient-to-r from-indigo-500 to-blue-500"
    >
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
      >
        <h3 class="text-xl font-medium text-gray-900 dark:text-white">
          SUCCESS
        </h3>
      </div>
    </div>
  </div>
</div>
