---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Services from "../components/Services.astro";
import Why from "../components/Why.astro";
import Testi from "../components/Testi.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Contacto enviado">
  
  <div>
    <div class="container mx-auto">
      <Header />
      <div>
     <h1>Success</h1>
      </div>

      <Footer />
    </div>
  </div>
</Layout>
