---
import Sub from "./Sub.astro";

const { image, title, desc, url } = Astro.props;
---

<div class="container mx-auto p-6">
  <a href={url} target="_blank">
    <div class="flex items-stretch -mx-4 pb-12">
      <div class="flex-1 p-4">
        <div class="block overflow-hidden h-full text-center">
          <div class="flex flex-col gap-8">
            <a href="#">
              <img class="rounded-t-lg" src={image} alt="" />
            </a>
            <Sub title={title} />

            <p class="text-md">{desc}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
