---
const { image, title, desc } = Astro.props;
---



<div class="container mx-auto p-6">
  <div class="flex items-stretch -mx-4">
    <div class="flex-1 p-4">
      <div class="block bg-white overflow-hidden h-full text-center ">
        <div class="p-4">
          <a href="#">
            <img class="rounded-t-lg" src={image} alt="" />
          </a>

          <h2 class="font-extrabold text-4xl box-decoration-slice px-2">
            {title}
          </h2>
     


          <p class="text-md">{desc}</p>
        </div>

      </div>
    </div>

  </div>
</div>