---
import Link from "./Link.astro";

import { Image } from "astro:assets";
import logo from "../assets/logo2.jpg";
---

<nav class="bg-white sticky top-0">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="" class="flex flex-row items-center rtl:space-x-reverse">
      <Image class="px-4 w-20" src={logo} alt="Al rescate" />
      <span
        class="self-center text-4xl font-bold whitespace-nowrap text-gray-600"
        >AL</span
      >
      <span
        class="self-center text-4xl font-light whitespace-nowrap text-lime-500"
        >RESCATE</span
      >
    </a>

    <div class="w-full md:block md:w-auto">
      <ul
        class="uppercase font-normal flex flex-col p-4 md:p-0 mt-4 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white"
      >
        <Link href="#supra" name="Suprarreciclaje" />
        <Link href="#economia" name="Economía Circular" />
        <Link href="#services" name="Servicios" />
        <Link href="#why" name="Porque elegirnos?" />
        <Link href="#testimonio" name="Testimonios" />
      </ul>
    </div>
  </div>
</nav>
