---
import Link from "./Link.astro";
---


  <nav class="bg-white sticky top-0">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
       <a href="" class="flex items-center rtl:space-x-reverse">
      <img src="/src/assets/logo2.jpg" class="h-20 px-2" alt="Al rescue" />
      <span
          class="self-center text-4xl font-bold whitespace-nowrap text-gray-600"
          >AL</span
        >
        <span
        class="self-center text-4xl font-light whitespace-nowrap text-lime-500"
        >RESCATE</span
      >
      </a>

      <div class="w-full md:block md:w-auto">
        <ul
          class="uppercase font-normal flex flex-col p-4 md:p-0 mt-4 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white"
        >
          <Link href="#supra" name="Suprarreciclaje" />
          <Link href="#economia" name="Economía Circular" />
          <Link href="#services" name="Servicios" />
          <Link href="#why" name="Porque elegirnos?" />
          <Link href="#testimonio" name="Testimonios" />
        </ul>
      </div>
    </div>
  </nav>

