---
const { name, href } = Astro.props

---

<li class="block py-2 px-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-lime-500 hover:underline hover:underline-offset-4 hover:decoration-4 hover:decoration-lime-400 md:p-0"
>
  <a
    class="active"
    href={href}
    aria-selected="true">{name}</a
  >

</a>
</li>

