---
import Card from "./Card.astro";
import H1 from "./H1.astro";
---

<div>
  <div class="md:container md:mx-auto p-8 text-center">

    <H1 title="Nuestros Servicios" />
  </div>
  <div class="md:container md:mx-auto flex gap-4">


    <Card 
    image="https://alrescate.cl/wp-content/uploads/2022/09/icono-reciclaje-simbolo-reutilizacion-reduccion-basura-aumento-reciclaje-redisenado-colores-verdes-utiles-infografias-etiquetas-aislado-sobre-fondo-blanco-vector_517145-580.jpg"
    title="Reutilización"
    desc="Retiro – Transporte – Reparación y/o Reutilización -Revalorización."
    />

    <Card 
    image="https://alrescate.cl/wp-content/uploads/2022/09/hand-shaking-GettyImages-978897892-1.jpg"
    title="Compra Venta"
    desc="Compra y venta de residuos no peligros reciclables, reutilizables o reparables."
    />

    <Card 
    image="https://alrescate.cl/wp-content/uploads/2022/09/unnamed.png"
    title="Puntos Verdes"
    desc="Instalación de puntos verdes de reciclaje en sitios públicos y/o privados."
    />

    <Card 
    image="https://alrescate.cl/wp-content/uploads/2022/09/Cirila-%D0%9C-majuskla.svg.png"
    title="Marketing De Reciclaje"
    desc="Venta de Contenedores con publicidad en puntos con generación masiva de residuos con alta exposición de marca."
    />
    
</div>
