---
import Figures from "./Figures.astro";
import H1 from "./H1.astro";

---

<div class=" py-20 md:container md:mx-auto">
  <H1 title="Nuestros servicios" />

  <div
    class="grid mb-8 border border-gray-200 rounded-lg shadow-sm md:mb-12 md:grid-cols-2"
  >
    <Figures
      title="Reutilización"
      desc="Retiro – Transporte – Reparación y/o Reutilización -Revalorización."
      image="/src/assets/reutilizacion.png"
      tipo="img"
    />
    <Figures
      title="Compra Venta"
      desc="Relación comercial voluntaria justa entre productores y consumidores"
      image="/src/assets/compraventa.png"
      tipo="img"
    />
    <Figures
      title="Puntos Verdes"
      desc="Instalación de puntos verdes de reciclaje en sitios públicos y/o privados."
      image="/src/assets/puntoverde.png"
      tipo="img"
    />
    <Figures
      title="Marketing De Reciclaje"
      desc="Venta de Contenedores con publicidad en puntos con generación masiva de residuos con alta exposición de marca."
      image="/src/assets/marketing.png"
      tipo="img"
    />
  </div>
</div>
