---
import Sub from "./Sub.astro";

import { Image } from "astro:assets";

const { title, desc, image, name } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
---

<div class="flex flex-col gap-10 text-center py-12">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
    <Sub title={title} />
  </h5>

  <div class="mx-auto">
    <svg
      class="w-8 h-8 text-lime-500 dark:text-gray-600 mb-4"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 18 14"
    >
      <path
        d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"
      ></path>
    </svg>
  </div>
  <blockquote
    class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
  >
    <blockquote class="flex px-10 text-xl italic font-normal text-gray-900">
      <p>{desc}</p>
    </blockquote>
  </blockquote>
  <figcaption class="flex items-center justify-center">
    <Image
      class="rounded-full w-16 h-16"
      src={images[image]()}
      alt="profile picture"
    />

    <div class="space-y-0.5 font-medium text-left rtl:text-right ms-3">
      <div>{name}</div>
    </div>
  </figcaption>
</div>
