---
import H1 from "./H1.astro";
import TestiFigure from "./TestiFigure.astro";


---

<div class="sm:container sm:mx-auto">
<H1 title="Testimonio de Clientes"/>

<div class="flex flex-row md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800">


 <TestiFigure
 title="Trabajo notable"
 desc="Han hecho un trabajo notable rescatando productos de gran calidad ofreciéndolos a precios rebajados, en especial artículos de construcción que han subido mucho en el último tiempo."
 image="https://alrescate.cl/wp-content/uploads/2022/09/WhatsApp-Image-2022-09-29-at-23.55.55-2.jpeg"
 name="Marcelo Godoy"
 />   

 

 <TestiFigure
 title="Lo que necesitaba!"
 desc="Estoy formalizando mi empresa, arrendé una pequeña oficina que necesitaba amoblar, vi sus productos y era justo lo que necesitaba, productos resistentes, de buena calidad a buen precio."
 image="https://alrescate.cl/wp-content/uploads/2022/09/WhatsApp-Image-2022-09-29-at-23.55.55-1.jpeg"
 name="Carlos Flores"
 />  

 

 <TestiFigure
 title="La basura de unos es el tesoro"
 desc="La basura de unos es el tesoro de otros...Rescatan la historia de esos tesoros y eso tiene un valor agregado que muchos apreciamos."
 image="https://alrescate.cl/wp-content/uploads/2022/09/WhatsApp-Image-2022-09-29-at-23.55.55.jpeg"
 name="Ma. Cristina Contreras"
 />  

    
</div>


</div>