---
import H1 from "./H1.astro";
import TestiFigure from "./TestiFigure.astro";


const { id } = Astro.props;
---

<div id=`#${id}` class="py-20 md:container md:mx-auto">
<H1 title="Testimonio de Clientes"/>

<div class="lg:columns-3 md:columns-1 sm:columns-3xs">


 <TestiFigure
 title="Trabajo notable"
 desc="Han hecho un trabajo notable rescatando productos de gran calidad ofreciéndolos a precios rebajados, en especial artículos de construcción que han subido mucho en el último tiempo."
 image="/src/assets/testi1.jpeg"
 name="Marcelo Godoy"
 />   

 

 <TestiFigure
 title="Lo que necesitaba!"
 desc="Estoy formalizando mi empresa, arrendé una pequeña oficina que necesitaba amoblar, vi sus productos y era justo lo que necesitaba, productos resistentes, de buena calidad a buen precio."
 image="/src/assets/testi2.jpeg"
 name="Carlos Flores"
 />  

 

 <TestiFigure
 title="La basura de unos es el tesoro de otros"
 desc="La basura de unos es el tesoro de otros...Rescatan la historia de esos tesoros y eso tiene un valor agregado que muchos apreciamos."
 image="/src/assets/testi3.jpeg"
 name="Ma. Cristina Contreras"
 />  

    
</div>


</div>