---
import Figures from "./Figures.astro";
import H1 from "./H1.astro";
---

<div class="md:container md:mx-auto">
  <H1 title="Por qué elegirnos?" />

  <div
    class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800"
  >
    <Figures
      title="Entregamos Valor"
      desc="Responsabilidad Social Empresarial"
      image="1"
    />
    <Figures
      title="Comercio Justo"
      desc="Relación comercial voluntaria justa entre productores y consumidores"
      image="2"
    />
    <Figures
      title="Empresa B"
      desc="Estándares de desempeño social y ambiental"
      image="3"
    />
    <Figures
      title="Inclusión"
      desc="Todos aportamos de la misma forma"
      image="4"
    />
  </div>
</div>
